@import "ob";
@import "reset";

body{
    .content{
        @include box(1200px,0);
        .selection{
            @include borderT;
            .kind{
                display: block;
            }
        }
        label{
            // @include borderT;
        }
        .result{
            margin-top: 40px;
            @include borderT;
            #rest1{
                .rep{
                    background-image: url(../images/1-600.png);
                    height: 400px;
                    width: 300px;
                    background-position: 20% 50%;
                }
                .detail{
                    margin-left: 20px;
                    p{
                        display: inline-block;
                        @include box(600px,0);
                    }

                }
            }
            #rest2{
                .rep{
                    background-image: url(../images/1-600.png);
                    height: 400px;
                    width: 300px;
                    background-position: 20% 50%;
                }
                .detail{
                    margin-left: 20px;
                    p{
                        display: inline-block;
                        @include box(600px,0);
                    }

                }
            }
        }
    }
}