// @import "mixin/box";
// @import "base/reset";
// @import "mixin/gradient";
// @import "mixin/borderT";

@mixin img($h,$url){
    height: $h;
    background-image: url(#{$url});
    background-position: center center;
    background-repeat: no-repeat;
    // background-size: cover;
}

body{
    section{
        .back:nth-child(1){
            background-image: url(./../image/資產9.svg);
            height: 100vh;
            width: 300px;
            position: fixed;
            left: 0;
            opacity: 0.5;
        }
        .back:nth-child(2){
            background-image: url(./../image/資產10.svg);
            height: 100vh;
            width: 300px;
            position: fixed;
            right: 0;
            opacity: 0.5;
        }
        .content{
            @include box(1200px,0);
            .selection{
                // @include borderT;
                input[type="text"]{
                    width: calc(100% - 100px);
                }                                                                                                                                                                                                                                                                                                                                                                               
                .kind{
                    display: block;
                }
                .sort{
                    display: flex;
                    flex-direction: row;
                }
                .like,.mess,.group{
                    cursor: pointer;
                }
            }
            label{
                // @include borderT;
            }
            .result{
                margin-top: 40px;
                .rest{
                    margin-bottom: 20px;
                    .rep{
                        @include img(500px,'./../image/1-600.png');
                    }
                    .detail{
                        position: relative;
                        padding-bottom: 50px;
                        p{
                            display: inline-block;
                            width: 100%;
                            
                        }
                        .kind{
                            @include box(60px,16px);
                            @include borderT;
                            text-align: center;
                            display: inline-block;
                        }
                        .style{
                            @include box(60px,16px);
                            @include borderT;
                            text-align: center;
                            display: inline-block;
                        }
                        .record{
                            position: absolute;
                            display: flex;
                            flex-direction: row;
                            right: 0;
                            top: 0;
                            img{
                                margin-right: 12px;
                            }
                        }
                        .insearch{
                            height: 130px !important;
                            border: none !important;
                            overflow: hidden !important;
                        //important複寫在單一餐廳頁的屬性
                        }
                        .go{
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            .btnRed{
                                @include btnRed;
                            }
                            .btnBlue{
                                @include btnBlue;
                            }
                        }

                    }
                }
            }

            .page{
                // @include borderT;
                @include box(200px,0);
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                li{
                    @include borderT;
                    padding: 0 20px;
                    cursor: pointer;
                }
                li:first-child{
                    border-radius: 16px 0 0 16px;
                }
                li:last-child{
                    border-radius: 0 16px 16px 0;
                }
            }

        }
    }
}
