*{
    .togray{
        filter: brightness(55%);
    }
    .bold{
        font-weight: bold;
    }
    .italic{
        font-style: italic;
    }
    .underline{
        text-decoration: underline;
    }
    .used{
        color: wheat;
        background-color: black;
    }
}


// body{
    section{
        #pizza{
            position: fixed;
            width: 400px;
            right: 100px;
            transform: rotate(45deg);
            z-index: -1;
            opacity:.3;

        }
        #ham{
            position: fixed;
            width: 500px;
            bottom: 0px;
            left: 50px;
            z-index: -1;

        }

        .content{
            div{
                #kind{
                    @include box(60px,16px);
                    @include borderT;
                    text-align: center;
                    display: inline-block;
                    margin-right: 20px;
                    background-color: white;
                    user-select: none;
                }
                #style{
                    @include box(60px,16px);
                    @include borderT;
                    text-align: center;
                    display: inline-block;
                    background-color: white;
                    user-select: none;
                }
            }
            #introduction{
                display: flex;
                flex-direction: row;
                @include box(100%,0);
                .container{
                    .row{
                        #imgs{
                            .large{
                                margin: 4px 0;
                                img{
                                    display: inline-block;
                                    @include box(600px,0);
                                }
                            }
                            .small{
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                // @include borderT;
                                @include box(600px,0);
                                margin: 0;
                                font-size: 0;
                                overflow: auto;
                                img:nth-child(1){
                                    margin-left: 0;
                                }
                                img{
                                    margin-left: 5px;
                                    margin-top: 12px;
                                    cursor: pointer;
                                    width: 140px;
                                    height: 140px;
                                }
                            }
                        }
                        #detail{
                            user-select: none;
                            .btnRed{
                            @include btnRed;
                            }
                            .btnBlue{
                            @include btnBlue;
                            }
                        }
                    }
                }
            }

            #leavemessage{
                @include borderT;
                @include box(1200px,0);
                height: 400px;
                overflow: auto;
                user-select: none;
                .L{
                    background-color: white;
                    @include borderT;
                    @include box(90%,0);
                    margin: 20px;   
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    img{
                        border-radius: 50%;
                        // width: 40px;
                        // height: 40px;
                        margin: 20px;
                    }
      
                }
            }
            .messaging{
                background-color: white;
                @include borderT;
                display: flex;
                flex-direction: row;
                position: relative;
                img{
                    margin: 20px;
                    border-radius: 50%;
                }
                #send{
                    height: 60px;
                    textarea{
                        position: absolute;
                        resize: none;
                        border: none;
                        height: 32px;
                        left: 102px;
                        width: calc(100% - 200px);
                        top: 50%;
                        transform: translate(0,-50%);
                        background-color: transparent;
                        border-bottom: 1px solid black ;

                    }
                    .features{
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translate(-50%,0);
                        width: 200px;
                        height: 24px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-evenly;
                        i{
                            cursor: pointer;
                            padding: 4px 16px;
                            text-align: center;
                            @include box(48px,12px);
                            @include borderT;
                        }
                    }
                    button{
                        display: inline-block;
                        position: absolute;
                        right: 12px;
                        top: 50%;
                        transform: translate(0,-50%);
                    }
                }
            }
            
        }

    }
// }