@charset "UTF-8";
@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");
@import "_mixins.scss";
@import "_reset.scss";



* {
    @include box-sizing (border-box);
    font-family: 'Noto Sans TC', '微軟正黑體', Arial, Helvetica, sans-serif;
    font-weight: 300;
}
html, body {
    // background-color: #fff !important;
    color: $textGray;
    font-family: 'Noto Sans TC', '微軟正黑體', Arial, Helvetica, sans-serif;
    position: relative;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    width: 100%;
    height: 100%;
    position: relative;
}


.arrow {
    border: solid rgba(255,255,255,.7);
    border-width: 0 2px 2px 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: -5px;
}
.arRight {
    @include transform(rotate(-45deg));
}
.arLeft {
    @include transform(rotate(135deg));
}
.arUp {
    @include transform(rotate(-135deg));
}

.overhide       { overflow: hidden; }
.show           { display: block !important; }
.radius_S       { @include border-radius(4px); }
.radius_M       { @include border-radius(10px !important) ; }
.radius_M_top   { @include border-radius(10px 10px 0 0); }
.radius_M_bottom{ @include border-radius(0 0 10px 10px); }
.radius_L       { @include border-radius(13px); }
.d-block        { width: 100%; }

body,div,span,h1,p,a,img,dl,dt,dd{margin:0;padding:0;border:0;vertical-align:baseline;background:transparent;}

// RWD
@media only screen and (max-width: 991px) {

}