@mixin btnRed {
    //粉紅
    padding: 0;
    border: 0px;
    display: inline-block;
    background-color: $bgColor-style1;
    color: $textColor-style1;
    width: 220px;
    height: 50px;
    border-radius: 25px 25px;
    font-family: $fontFamily;
    font-size: $fontSize;
    text-align: center;
    line-height: 50px;
    font-weight: $fontWeight_600;
    cursor: pointer;
    &:hover {
        background-color: white;
        color: $bgColor-style1;
        border: 2.5px solid $bgColor-style1;
        line-height: 45px;
    }
}

@mixin btnYellowL {
    //粉黃長
    padding: 0;
    border: 0px;
    display: inline-block;
    background-color: $bgColor-style2;
    color: gray;
    width: 220px;
    height: 50px;
    border-radius: 25px 25px;
    font-family: $fontFamily;
    font-size: $fontSize;
    text-align: center;
    line-height: 50px;
    font-weight: $fontWeight_600;
    cursor: pointer;
    &:hover {
        background-color: white;
        color: #222222;
        border: 2.5px solid $bgColor-style2;
        line-height: 45px;
    }
}

@mixin btnYellowS {
    //粉黃短
    padding: 0;
    border: 0px;
    display: inline-block;
    color: gray;
    background-color: $bgColor-style2;
    width: 150px;
    height: 50px;
    border-radius: 25px 25px;
    font-family: $fontFamily;
    font-size: $fontSize;
    text-align: center;
    line-height: 50px;
    font-weight: $fontWeight_600;
    cursor: pointer;
    &:hover {
        background-color: white;
        color: #222222;
        border: 2.5px solid $bgColor-style2;
        line-height: 45px;
    }
}

@mixin btnBlue {
    //粉藍
    padding: 0;
    border: 0px;
    display: inline-block;
    background-color: $bgColor-style4;
    color: $textColor-style1;
    width: 220px;
    height: 50px;
    border-radius: 25px 25px;
    font-family: $fontFamily;
    font-size: $fontSize;
    text-align: center;
    line-height: 50px;
    font-weight: $fontWeight_600;
    cursor: pointer;
    &:hover {
        background-color: white;
        color: $bgColor-style4;
        border: 2.5px solid $bgColor-style4;
        line-height: 45px;
    }
}

@mixin btnOther {
    //彈出視窗btn
    padding: 0;
    border: 0px;
    display: inline-block;
    background-color: rgb(209, 205, 205);
    color: #222222;
    width: 150px;
    height: 50px;
    font-family: $fontFamily;
    font-size: $fontSize;
    text-align: center;
    line-height: 50px;
    font-weight: $fontWeight_600;
    cursor: pointer;
    &:hover {
        background-color: white;
        color: rgb(209, 205, 205);
        border: 2.5px solid rgb(209, 205, 205);
        line-height: 45px;
    }
}

// 下面是其他多餘的，可用可不用
@mixin btnOther1($bgColor, $color, $width, $height) {
    padding: 0;
    border: 0px;
    display: inline-block;
    background-color: $bgColor;
    color: $color;
    width: $width;
    height: $height;
    border-radius: 25px 25px;
    font-family: $fontFamily;
    font-size: $fontSize;
}