//base
@import "../base/var";
@import "../base/reset";
@import "../base/color";
@import "../base/font";
//mixin
// @import "../mixin/box";
@import "../mixin/rwd";
@import "../mixin/grid";
@import "../mixin/img";
@import "../mixin/btn_style";
@import "../mixin/gradient";
//layout
@import "../layout/header";
@import "../layout/footer";